body {
  height: 100vh;
  background-image: url(http://wallpapercave.com/wp/wp1830198.jpg);
  width: 100vw;
  background-size: cover;
}

.header {
  height: 20vh;
background-color: red;
}
.header-img {
  width: 30vw;
  height: 100%;
}
.header-img2 {
  width: 15vw;
  height: 100%;
  float: right;
}
.player-image {
  height: 392px;
  width: 900px;
  display: flex;
  justify-content: center;
  margin: auto;

}
.index{
  display: flex;
  justify-content: space-around;
}

.index-counter {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: x-large;
  color: white;
}
.name {
font-size: 30px;
display: flex;
justify-content: center;
margin-top: 25px;
color: black;
}

.college {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-container {
  display: flex;
  justify-content: center;
  }
  
  .addButton {
    background-color: red;
  }

  .delete-btn {
    display: flex;
    justify-content: flex-end;
    border-color: red;
    align-items: flex-start;
    color: black;
    background-color: red;

  }
  .search {
    display: flex;
    align-items: center;
  }